.chat-list
	.chat-list__header
		h1.heading Inbox
		!= NewChatLink
	input.chat-list__search(type='text', placeholder='Search chats...')
	.chat-list__chats
		if Chats
			each Chat in Chats
				!= Chat

	if newChatModal.isOpen
		!= NewChatModal
