.chat-container
  .chat-list
    .chat-list__header
      h1 Inbox
      .new-message-indicator 3 new
    input.chat-list__search(type="text", placeholder="Search here...")
    .chat-list__chats
      - let n = 0
      while n < 7
        - n++
        include /components/chat-placeholder/chat-placeholder.pug
  .message-area Messages
  .profile
    .profile__picture
    .profile__name
      div Firstname Lastname
      div mail@example.com
    .profile__info
      .profile__info_row
        span Email
        span mail@example.com
      .profile__info_row
        span Username
        span username
      .profile__info_row
        span First name
        span Firstname
      .profile__info_row
        span Last name
        span Lastname
      .profile__info_row
        span Display name
        span name
      .profile__info_row
        span Phone
        span +7 (999) 999 99 99
    .profile__buttons
      a(href="/")  Edit profile
      a(href="/")  Change password
      a(href="/")  Log out

