.container
  .link__container
    h1 Messenger
    a(href="/login.html") Log in
    a(href="/signup.html") Sign up
    a(href="/chat.html") Chat
    a(href="/profile.html") Profile
    a(href="/404.html") 404
    a(href="/500.html") 500