.message-area
	if messages
		.message-area__inner
			!= MessageAreaHeader
			if MessageList.length
				.message-area__messages
					each message in MessageList
						!= message
			else
				.message-area__empty-chat No messages in this chat yet
			!= MessageInput
	else
		.message-area__placeholder Select a chat to start messaging
