.profile-header
	.profile-header__avatar
		if avatar
			img.profile-header__avatar-image(src=avatar, alt='Profile picture')
		else
			.profile-header__avatar-placeholder
	.profile-header__user
		.profile-header__user-name #{ first_name } #{ second_name }
		.profile-header__user-email= email
