block head
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Messenger
      link(rel="stylesheet", href="../utils/normalize.css")
    
    block body
      body
        h1 Body